# Dependencies
node_modules
.pnpm-store

# Builds
dist
build
.turbo

# Vite
*.local

# OS / editor
.DS_Store
Thumbs.db
.vscode
.idea

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

